@font-face {
  font-family: 'ArtDystopia';
  src: url('fonts/ArtDystopia.ttf') format('truetype');
  font-display: swap;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Courier New', monospace;
  background-color: #212121;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  margin: 1rem;
  padding: 1rem;
}

h1 {
  font-family: 'ArtDystopia', 'Courier New', monospace;
  letter-spacing: .5rem;
}

h2,
h3,
h4,
h5,
h6 {
  color: lightgrey;
}

a {
  font-size: 20px;
  color: darkred;
  letter-spacing: 10px;
  text-decoration: none;
  transition: color 0.3s;
  &:hover {
    text-decoration: underline;
    font-weight: bolder;
  }
}

p {
  margin: 1rem;
  color: #a2a2a2;
}

.menu {
  a {
    padding: 1rem;
    margin: 1rem;
  }
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px dotted darkred;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 5rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10rem .5rem 1rem .5rem;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

footer a {
  font-size: clamp(0.7rem, 3vw, 1.25rem);
  letter-spacing: 0.3em;
  text-align: center;
}

footer small {
  font-size: inherit;
}
.footer-con {
  display: flex;
  position: relative;
}

#q-1, #q-2{
  position: absolute;
  width: clamp(25px, 7vw, 50px);
  height: auto;
}

#q-1 {
  top: -1rem;
  left: -3rem;
}
#q-2 {
  top: -1rem;
  right: -3rem;
}

.header-con {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: auto;
    width: clamp(60px, 15vw, 150px);
    flex-shrink: 0;
  }
}

header, h1 {
  font-size: 5rem;
  color: darkred;
  padding: 1rem;
  animation: colorFade 3s infinite alternate;
}

@keyframes colorFade {
  from { background: orangered; }
  to   { background: #212121; }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  header, h1{
    font-size: 30px;
  }

  header {
    margin-bottom: unset;
  }

 .header-con img {
   height: 2rem;
   width: auto;
 }
  #q-1 {
    top: -1rem;
    left: 0rem;
  }
  #q-2 {
    top: -1rem;
    right: 0rem;
  }

  aside {
    gap: unset;
  }

  .menu {
    a {
      margin: unset;
    }
  }
}
